.my_col_full{
    width: 100% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_95th{
    width: 95% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_90th{
    width: 90% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_85_2th{
    width: 85%;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_85th{
    width: 83.34% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_80th{
    width: 80% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_75th{
    width: 75% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_70_2th{
    width:70%;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_70th{
    width:66.67% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_65th{
     width:65% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_60th{
    width:60% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_55th{
    width: 55% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_50th{
    width: 50% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_45th{
    width:45% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_40th{
    width:40% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_35th{
    width: 35%;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_30th{
    width: 33.33% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_30_2th{
     width: 30%;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_25th{
    width: 25% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_20th{
    width: 20% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_16th{
    width: 16.66% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_15th{
    width: 15% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_10th{
    width: 10% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.my_col_5th{
    width: 5% ;
    float: left;
    min-height: 20px;
    padding: 0;
    margin: 0;
}