.my_col_full{
    width: 100% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_90th{
    width: 90% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_85th{
    width: 83.34% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_80th{
    width: 80% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_75th{
    width: 75% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_70th{
    width:66.67% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_60th{
    width:60% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_50th{
    width: 50% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_40th{
    width:40% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_30th{
    width: 33.33% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_25th{
    width: 25% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_20th{
    width: 20% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_16th{
    width: 16.66% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}
.my_col_10th{
    width: 10% ;
    float: left;
    min-height: 100px;
    padding: 0;
    margin: 0;
}