tbody tr{
    cursor: pointer;
}
.img{
    padding: 0 !important;
}
.img img{
    width: 100px;
    vertical-align: middle;
    height: 56px
}
.mainParent{
    background: white;
}
.childParent {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    background: white;
}
.topStyle{
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    color: black;
    top: -45px;
    left: 45px;
    background: white;
    position: absolute;
}
.topStyle p{
    margin: 0;
    font-size: 20px;
}
.borderMake{
    border: 3px solid red;
}
/*=====Fixed Right Side Bar====*/
.rightSideBar{
    position: fixed;
    top: 40%;
    right: 0px;
    width: 0px;
    background-color: #212529;
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    transition: all 1s;
    padding: 10px;
    padding-right: 0px;
}
.rightSideBarToggle{
    width: 150px;
}
.rightSideBar p{
    margin-bottom: 0px !important;
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font: 15px cursive;
}
.userUpdate{
    width: 130px;
    padding: 5px;
    font: 15px cursive;
    margin-bottom: 3px;
}
.childDesign{
}
.childDesign > div{
    margin-bottom: 3px;
    width: 130px;
    color: white;
    font: 14px fantasy;
    height: 37px;
}
.childDesign > div::before{
    content: " ";
    display: block;
    width: 5px;
    height: 37px;
    position: absolute;
    right: 0px;
}
.childDesign > div i {
    display: inline-block;
    position: absolute;
    right: -5px;
    width: 0px;
    height: 37px;
    transition: all 700ms;
}
.childDesign > div:hover i{
    width: 145px;
}
.childDesign > div.active::before{
    background: green;
}
.childDesign > div.active i{
    background: green;
}
.childDesign > div.deactive::before{
    background: #cccc00;
}
.childDesign > div.deactive i{
    background: #cccc00;
}
.childDesign > div.delete::before{
    background: red;
}
.childDesign > div.delete i{
    background: red;
}
.childDesign div p{
    position: relative;
    z-index: 99999;
    line-height: 33px;
}
.childDesign div p b{
    position: relative;
    z-index: 99999;
    line-height: 33px;
}
.childDesign div p span{
    font-size: 18px;
    vertical-align: middle;
}
.active{
    background: black;
}
.active span{
    color: green;
}
.deactive{
    background: black;
}
.deactive span{
    color: #cccc00;
}
.delete{
    background: black;
}
.delete span{
    color: red;
}
tbody tr td{
    font-size: x-small;
}
/*========Making Cross Button======*/
.cross {
    left: -50px;
    position: absolute;
    top: 1px;
    cursor: pointer;
}
.cross div[class^=line]{
    width: 30px;
    height: 5px;
    margin-bottom: 4px;
    background: black;
    transition: all 300ms;
}
.classHover{
    margin-bottom: 6px !important;
}
.rotateLine1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.rotateLine3{
    transform: rotate(45deg) translate(-1px,-1px);
}
