tbody tr{
    cursor: pointer;
}
.img{
    padding: 0 !important;
}
.img img{
    width: 100px;
    vertical-align: middle;
    height: 56px
}
.mainParent{
    background: white;
}
.childParent {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    background: white;
}
.topStyle{
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    color: black;
    top: -45px;
    left: 45px;
    background: white;
    position: absolute;
}
.topStyle p{
    margin: 0;
    font-size: 20px;
}
/*=====Fixed Right Side Bar====*/
.rightSideBar{
    position: fixed;
    top: 40%;
    right: 0;
    width: 150px;
    background: #272822;
    padding: 10px;
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
}
.rightSideBar p{
    margin-bottom: 0px !important;
    padding: 10px;
    cursor: pointer;
    color: white;
}
.userUpdate{
    /*background: blue;*/
}
.active{
    /*background: green;*/
}
.deactive{
    /*background: pink;*/
}
.delete{
    /*background: red;*/
}